<!DOCTYPE html>
<head>
   <title>Home</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1 class="display-4">Hello, </h1>
  <p class="lead">This is a simple expressjs login and signup system.An idea to beginers in web app development</p>
  <hr class="my-4">
  <p>A node js web app based on<a href="http://expressjs.org"> express js </a>framework. Hope you will enjoy</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  </p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="/signup" role="button"> Signup</a>
  </p>
</div>
</body>
</html>
