<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <% include partials/head.html %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                    <a href="#" class="list-group-item list-group-item-action ">Password</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Your Profile</h4>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="POST" action="/user/update?_method=PUT">
                                    <input type="password" class="input-lg form-control" name="password1" id="password1"
                                        placeholder="New Password" autocomplete="off">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span id="8char" class="glyphicon glyphicon-remove"
                                                style="color:#FF0004;"></span> 8 Characters Long<br>
                                            <span id="ucase" class="glyphicon glyphicon-remove"
                                                style="color:#FF0004;"></span> One Uppercase Letter
                                        </div>
                                        <div class="col-sm-6">
                                            <span id="lcase" class="glyphicon glyphicon-remove"
                                                style="color:#FF0004;"></span> One Lowercase Letter<br>
                                            <span id="num" class="glyphicon glyphicon-remove"
                                                style="color:#FF0004;"></span> One Number
                                        </div>
                                    </div>
                                    <input type="password" class="input-lg form-control" name="password2" id="password2"
                                        placeholder="Repeat Password" autocomplete="off">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span id="pwmatch" class="glyphicon glyphicon-remove"
                                                style="color:#FF0004;"></span> Passwords Match
                                        </div>
                                    </div>

                                    <!-- get rid of the rest-->
                                    

                                    <!-- find a way to update the password form--
                                <div class="form-group row">
                                    <label for="newpass" class="col-4 col-form-label">New Password</label>
                                    <div class="col-8">
                                        <input id="newpass" name="password" placeholder="New Password"
                                            class="form-control here" type="text" />
                                    </div>
                                </div>-->

                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button name="submit" type="submit" class="btn btn-primary">
                                                Update Password
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--custom script-->
    <script src="/js/js.js"></script>
</body>

</html>